doctype html
html
    head
        link(rel="stylesheet" type="text/css" href="/public/streamer.css")
    body
        div
            video(id="video" autoplay)
            canvas(id="canvas" width="300" height="300")
            audio(id="audio" controls)
                source(src="/public/warning.mp3" type="audio/mpeg")            
        script(src="/socket.io/socket.io.js")
        script(src="/public/streamer.js")
    